<mat-card-content>

    <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contraseña vieja</mat-label>
            <input [type]="HidePassword1 ? 'password':'text'" matInput formControlName="oldPassword">
            <button mat-icon-button matSuffix (click)="HidePassword1 = !HidePassword1" type="button">
                <mat-icon matSuffix>{{HidePassword1 ? 'visibility_off':'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contraseña nueva</mat-label>
            <input [type]="HidePassword2 ? 'password':'text'" matInput formControlName="newPassword">
            <button mat-icon-button matSuffix (click)="HidePassword2 = !HidePassword2" type="button">
                <mat-icon matSuffix>{{HidePassword2 ? 'visibility_off':'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button class="full-width" mat-raised-button color="warn" class="full-width" type="submit" [disabled]="passwordChangeForm.invalid">
            <mat-icon matSuffix>edit</mat-icon> Cambiar Contraseña
        </button>

    </form>

</mat-card-content>