
<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Comments App</span>

          <a href="" mat-icon-button color="basic" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </a>

          <span class="example-spacer" ></span>  

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>

        </mat-toolbar-row>
    </mat-toolbar>

    <mat-menu #menu="matMenu">

      <div (click)="$event.stopPropagation();" (focus)="$event.stopPropagation();">
        <div *ngIf="!loggedIn; else loggedInBlock">
          <app-log-in (loggedIn)="loggedIn = checkLogInStatus()"></app-log-in>
          <a mat-menu-item routerLink="/singup"  routerLinkActive="active"><mat-icon matSuffix>create </mat-icon> Crear Cuenta </a>
        </div>
        <ng-template #loggedInBlock>
          <a href="" mat-menu-item>
            <mat-icon matSuffix>add </mat-icon>Crear nuevo hilo
          </a>
          <a href="" mat-menu-item>
            <mat-icon matSuffix>edit </mat-icon>Modificar cuenta.
          </a>
          <button (click)="logOut()" mat-menu-item>
            <mat-icon matSuffix>logout </mat-icon>LogOut
          </button>
        </ng-template>
      </div>
    </mat-menu>
    
</p>
<router-outlet></router-outlet>