<div class="body">
    <mat-card class="formCard">
        
        <div class="header">
            <h2>Administrar cuenta</h2>
        </div>

        <mat-card-content>

            <mat-accordion>

                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                      Cambiar Usuario
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <app-change-user-name-partial></app-change-user-name-partial>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title class="panel-title">
                        Cambiar Email
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-change-email-partial></app-change-email-partial>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title class="panel-title">
                        Cambiar Contraseña
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-change-password-partial></app-change-password-partial>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                      Eliminar su Cuenta
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <app-delete-account-partial></app-delete-account-partial>
              </mat-expansion-panel>

            </mat-accordion>

        </mat-card-content>

        <mat-card-footer>
            
        </mat-card-footer>

    </mat-card>
</div>
