.comment{
    text-align: -webkit-right;
    min-width:90% !important;
}

.commentBody{
    margin: 1em auto;
    margin-left: 2em;
    margin-right: 2em;
    text-align: start;
}

.replies{
    margin-left: 2em;
    border-left: ridge;
}

.replyBox{
    display: flex;
    flex-direction: column;
    text-align-last: center;
    height: 100%;
    width: 90% !important;
    min-width: 80%;
    margin: 1em auto;
    padding: 1em ;
    margin-bottom: 0;
    padding-bottom: 0;
}

.editBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80% !important;
    min-width: 80%;
    margin: 1em auto;
    padding: 1em ;
    text-align-last: center;
}