.comment{
    margin-left: 2em;
}

.commentBody{
    max-width: 100% !important;
    width: 80% !important;
    margin: 1em auto;
    text-align: start;
}

.replyBox{
    display: flex;
    flex-direction: column;
    text-align-last: center;
    height: 100%;
    width: 90% !important;
    min-width: 80%;
    margin: 1em auto;
    padding: 1em ;
    margin-bottom: 0;
    padding-bottom: 0;
}

.editBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80% !important;
    min-width: 80%;
    margin: 1em auto;
    padding: 1em ;
    text-align-last: center;
}