<div class="comment" id="{{comment?.commentId}}">
    <div class="commentBody">
        <mat-card>
            <mat-card-header>
              <mat-card-subtitle>{{comment?.creator?.userName}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="margin: 1em;">
                <p>{{comment?.content}}</p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="showReplyBox()">Responder</button>
              <div class="actions" *ngIf="ownsComment()">
                <button mat-button (click)="showEditBox()">Editar</button>
                <button mat-button (click)="confirmDelete()">Eliminar</button>
              </div>
            </mat-card-actions>
            <mat-card-footer class="card-footer">
              <mat-form-field *ngIf="replyBoxState" class="replyBox" id="threadReplyBox">
                <textarea matInput placeholder="Responder" [(ngModel)]="commentReply" name= "responseToThread"></textarea>
                <a matSuffix mat-button (click)="reply(commentId, threadId)"> <mat-icon >send</mat-icon> Responder</a>
              </mat-form-field>
              <div *ngIf="editBoxState" style="display: flex; flex-direction: column;">
                <mat-form-field id="threadContentEditor">
                  <textarea matInput [(ngModel)]="commentContentEdit"></textarea>
                </mat-form-field>
                <a matSuffix mat-button (click)="edit()"> <mat-icon >send</mat-icon> Editar</a>
              </div>
            </mat-card-footer>
          </mat-card>
    </div>
    <div class="replies" *ngIf="getReplies(commentId)">
        <app-comment-partial *ngFor="let replies of getReplies(commentId)" [repliesList]="repliesList" [comment]="replies">
        </app-comment-partial>
    </div>
</div>