<div class="thread">
    <div class="threadBody">
        <mat-card class="threadCard">
            <mat-card-header>
                <mat-card-title>{{thread?.title}}</mat-card-title>
              <mat-card-subtitle>{{thread?.creator?.userName}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="margin: 1em;">
                <p>{{thread?.content}}</p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="showReplyBox()">Responder</button>
              <div class="actions" *ngIf="ownsThread()">
                <button mat-button (click)="showEditBox()">Editar</button>
                <button mat-button (click)="confirmDelete()">Eliminar</button>
              </div>
            </mat-card-actions>
            <mat-card-footer class="card-footer">
              <mat-form-field *ngIf="replyBoxState" class="replyBox" id="threadReplyBox">
                <textarea matInput [(ngModel)]="threadReply" name= "responseToThread"></textarea>
                <a matSuffix mat-button (click)="reply()"> <mat-icon >send</mat-icon> Responder</a>
              </mat-form-field>
              <div *ngIf="editBoxState" style="display: flex; flex-direction: column;">
                <mat-form-field id="threadTitleEditor">
                  <input type="text" [(ngModel)]="threadTitleEdit">
                </mat-form-field>
                <mat-form-field id="threadContentEditor">
                  <textarea matInput [(ngModel)]="threadContentEdit"></textarea>
                </mat-form-field>
                <a matSuffix mat-button (click)="edit()"> <mat-icon >send</mat-icon> Editar</a>
              </div>
            </mat-card-footer>
          </mat-card>
          <div *ngFor="let replies of getReplies(0)">
              <app-comment-partial [repliesList]="sortedReplies" [comment]="replies">
              </app-comment-partial>
          </div>
    </div>
    <a mat-fab class="fab-button" [routerLink]="['/threads']">
        <mat-icon>arrow_back</mat-icon>
    </a>