<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/98ee6b39-5440-4bbd-826c-438d312b7f0e/resourcegroups/Web-Comments-App/providers/Microsoft.Web/sites/CommentsAPI-ARL</ResourceId>
    <ResourceGroup>Web-Comments-App</ResourceGroup>
    <ApiResourceId>/subscriptions/98ee6b39-5440-4bbd-826c-438d312b7f0e/resourceGroups/Web-Comments-App/providers/Microsoft.ApiManagement/service/CommentsAPIapi/apis/CommentsAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://commentsapi-arl.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e006ffb7-ce4c-4f4a-913a-5029f4539021</ProjectGuid>
    <MSDeployServiceURL>commentsapi-arl.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CommentsAPI-ARL</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CommentsAPI-ARL</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>